.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.auto {
  margin: auto;
}

.flex {
  flex: 1;
}

.spaced {
  justify-content: space-around;
}

.spaced-out {
  justify-content: space-between;
}

.fab {
  bottom: 13px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  position: absolute;
  right: 12px;
}

.margin {
  margin: 7px 4px;
}

.padding {
  padding: 4px 9px;
}

.clickable {
  cursor: pointer;
}