@import "bootstrap-custom";

@import "placeholder";

body {
  background-color: #FBFFFE;
}

.suggestions {
  width: 200px;
  .active {
    //background: #E2E0E0;
  }
}
.header {
  height: 30px;
  padding: 9px;
}

.well {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.48);
}

.shared-url {
  word-wrap: break-word;
  border: 1px solid #807878;
  box-shadow: inset 1px 2px 2px #ccc;
  border-radius: 3px;
  margin: 4px 1px;
  background-color: #fff;
  color: #000;
}

.video-card {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.48);
}

.overlay {
  position: absolute;
  top: 0;
  display: none;
  background: rgba(143, 186, 224, 0.78);
  width: 100%;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.hover {
  &:hover {
    color: #6567cd;
    .overlay {
      display: flex;
    }
    .btn-main {
      background: #00008b;
      color: #fff;
    }
  }
}
.btn-yt {
  padding: 3px;
  cursor: pointer;
  text-align: center;
  flex: 1;
  &:hover {
    background: @brand-primary;
    color: #fff;
  }
}
 .btn-yt-hover {
   background: @brand-primary;
   color: #fff;
 }
 .list-group-item {
   padding: 0;
   margin: 14px 0;
   border: 0;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.48);
   img {
     height: 68px;
   }
   .list-group-item-info {
     padding: 0;
   }
   .playnow {
     position: absolute;
     top: 0;
     right: 0;
     padding: 3px 6px;
     border-bottom-left-radius: 4px;
     background: rgba(0, 0, 0, 0.49);
     color: #fff;
     display: flex;
     align-items: center;
     cursor: pointer;
     .text {
       display: none;
     }
     &:hover {
       .text {
         display: block;
       }
     }
   }
 }

 .suggestions {
   position: absolute;
   z-index: 3;
   width: 75%;
   box-shadow: 0 0px 3px rgba(0, 0, 0, 0.31);
   .list {
     padding: 4px 7px;
     border: 1px solid #ccc;
     background-color: #fff;
   }
   .active {
     background-color: @brand-primary;
     color: #fff;
   }
 }

 .info {
   .info-share{
     display: none;
     position: absolute;
     right: 0px;
     padding: 17px;
     background: @brand-primary;
     color: #fff;
     margin: 20px auto;
   }

   &:hover {
     .info-share {
       display: block;
     }

   }
 }

 #playlist-control {
   .playlist-heading {
     background-color: rgba(255, 255, 255, 0.23);
   }
 }