<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>
    <script src="/bower_components/angular-socket-io/socket.min.js"></script>

    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css"/>
    <script src="/css/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      var user = <%= user%>;
      var current_playlist = "<%= current_playlist %>";
      var preferance = <%= preferance %> ;
      var env = '<%= env  %>';
      var BASE_URL = 'http://localhost:3000';
      if(env == "staging") BASE_URL = "https://youtube-music.herokuapp.com";
      if(env == "production") BASE_URL = "http://www.youtube-music.in";


    </script>
    <script src="/javascripts/all.js"></script>
  </head>
  <body ng-app="youtube" ng-controller="youtubeCtrl">
    <div style="margin-top: 10px;">
      <div class="activity col-md-8 flex-column">
        <!--<youtube-video video-id="video.id.videoId" player="player" player-width="'100%'" player-height="'400px'"></youtube-video>-->
        <div class="flex-row">
          <iframe id="player" type="text/html" width="60%" height="300px"
                  src="https://www.youtube.com/embed/y6Sxv-sUYtM?enablejsapi=1&origin=<%= BASE_URL%>"
                  frameborder="0"
                  allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
              ></iframe>
          <div class="flex flex-column padding video-card" id="playlist-control" ng-show="user">
            <div class="playlist-heading flex-row spaced" ng-show="selectedPlaylist && selectedPlaylist.name">
              <h4 class="text-center">{{selectedPlaylist.name}}</h4>
              <button class="btn btn-sm" ng-click="deletePlaylist(selectedPlaylist._id)"><i class="fa fa-trash"></i></button>
            </div>



            <div class="flex-column flex">
              <div class="flex">
                <div class="flex-row wrap margin">
                  <span class="label margin clickable padding" ng-repeat="playlist in playlists" ng-click="selectPlaylist(playlist, $index)" ng-class="selectedPlaylist._id == playlist._id ? 'label-success' : 'label-primary'">{{playlist.name}}</span>
                  <span ng-hide="newPlaylist.show" class="clickable label label-default margin padding" ng-click="newPlaylist.show = true">Add Playlist</span>
                </div>
                <form ng-submit="createPlaylist()">
                  <div class="form-group-sm">

                    <input ng-show="newPlaylist.show" id="new-playlist" class="form-control" type="text" placeholder="Name Playlist & hit enter" ng-model="newPlaylist.name"/>
                  </div>
                </form>

                <div class="form-group-sm">
                  <!--<button type="submit" class="btn btn-default"><i class="fa fa-add"></i>Add</button>-->
                  <button ng-show="newPlaylist.show" ng-click="newPlaylist = {}">X</button>
                </div>
              </div>
              <div class="flex-row">
                <button ng-hide="selectedPlaylist.share_link" class="btn btn-default btn-sm info margin" ng-click="sharePlaylist()">
                  Share
                  <div class="info-share">
                    <span>Let others add to this playlist in realtime</span>
                  </div>
                </button>

              </div>
              <div class="shared-url padding info" ng-show="selectedPlaylist.share_link">
                <span ng-show="selectedPlaylist.share_link">{{baseUrl}}{{selectedPlaylist.share_link}}</span>
                <div class="info-share">
                  <span>Share this link with anyone, and they can add songs to this playlist in realtime</span>
                </div>
              </div>
              </div>

            <div class="flex-row padding">
              <span class="padding">Discover</span>
              <input type="range" step="1" max="1" min="-1" ng-model="preferance">
              <span class="padding">Usual</span>
              <button class="btn btn-sm btn-default" ng-click="playNext()"><i class="fa fa-forward"></i></button>
            </div>
          </div>
          <div ng-hide="user" class="flex-column flex">
            <a href="/users/auth/facebook" class="btn btn-primary auto flex-row" style="align-items: baseline;">
              <i class="fa fa-facebook-official fa-2x"></i>
              <span>&nbsp; Login using Facebook</span>
            </a>
          </div>
        </div>
        <div class="margin">
          <div class="col-md-6">
            <h4 style="margin: 20px 0;">Suggested songs</h4>
            <!--related-->
            <div class="list-group">
              <div class="list-group-item flex-column" ng-repeat="item in relatedVideos">
                <div ng-click="selectVideo(item)" class="flex-row clickable padding" ng-mouseenter="item.hover = true" ng-mouseleave="item.hover = false">
                  <div>
                    <img ng-src="{{item.snippet.thumbnails.default.url}}" alt=""/>
                  </div>
                  <div class="padding">
                    {{item.snippet.title}}
                  </div>
                </div>
                <div class="flex-row spaced list-group-item-info">
                  <div class="btn-yt" ng-click="selectVideo(item)" ng-class="item.hover ? 'btn-yt-hover' : ''">Add to Queue</div>
                  <div class="btn-yt" ng-if="user" ng-click="addToPlaylist(item)">Add to playlist</div>
                </div>
                <div class="playnow" ng-click="playVideo(item)"> <i class="fa fa-play-circle"></i><span class="text">&nbsp;Play now</span> </div>
              </div>
            </div>
            <div ng-show="!relatedVideos || relatedVideos.length == 0" class="well">
              Play a song to get suggested list of songs
            </div>
          </div>
          <div class="col-md-6">
            <h4 style="margin: 20px 0;">Playlist songs</h4>
            <!--playlist-->
            <div class="list-group">
              <div class="list-group-item flex-column" ng-class="$index == selectedPlaylist.current_index ? 'active' : ''" ng-repeat="item in selectedPlaylist.videos">
                <div ng-click="selectVideo(item, $index)" class="flex-row clickable padding" ng-mouseenter="item.hover = true" ng-mouseleave="item.hover = false">
                  <div>
                    <img ng-src="{{item.snippet.thumbnails.default.url}}" alt=""/>
                  </div>
                  <div class="padding">
                    {{item.snippet.title}}
                  </div>
                </div>
                <div class="flex-row spaced padding list-group-item-info">
                  <div class="btn-yt" ng-click="selectVideo(item, $index)" ng-class="item.hover ? 'btn-yt-hover' : ''">Add to Queue</div>
                  <div class="btn-yt" ng-click="addOnTop(item)">Play next</div>
                  <div class="btn-yt" ng-click="deleteFromPlaylist($index)">Remove</div>
                </div>
                <div class="playnow" ng-click="playVideoFromPlaylist(item, $index)"> <i class="fa fa-play-circle"></i><span class="text">&nbsp;Play now</span> </div>
              </div>
            </div>
            <div class="well" ng-show="!selectedPlaylist || selectedPlaylist.videos.length ==  0">
              <div ng-hide="user"> Login to create and add songs to playlist</div>
              <div ng-show="user">No songs added to this playlist.</div>
            </div>
          </div>
        </div></div>
      <div class="search col-md-4">
        <form class="margin" ng-submit="search(query)">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search without stopping your music" ng-model="query" required ng-keydown="keypress($event)">
            <span ng-click="search(query)" class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
          </div>
          <!--<input type="text" class="padding" placeholder="Search Songs" ng-model="query" required ng-keydown="keypress($event)"/>-->
          <!--<button class="btn btn-primary" type="submit" ng-click=""><i class="fa fa-search"></i></button>-->
          <div class="suggestions" ng-show="query.length > 0">
            <div class="list" ng-class="suggestedIndex == $index ? 'active' : ''" ng-repeat="item in suggesteds" ng-click=" selectSuggested($index)"><span class="padding">{{item[0]}}</span></div>
          </div>
        </form>
        <!--searched-->
        <div class="list-group" ng-show="showSearched">
          <div class="list-group-item flex-column" ng-repeat="item in searchList">
            <div ng-click="selectVideo(item)" class="flex-row clickable padding" ng-mouseenter="item.hover = true" ng-mouseleave="item.hover = false">
              <div>
                <img ng-src="{{item.snippet.thumbnails.default.url}}" alt=""/>
              </div>
              <div class="padding">
                {{item.snippet.title}}
              </div>
            </div>
            <div class="flex-row spaced padding list-group-item-info">
              <div class="btn-yt" ng-click="selectVideo(item)" ng-class="item.hover ? 'btn-yt-hover' : ''">Add to Queue</div>
              <div class="btn-yt" ng-if="user" ng-click="addToPlaylist(item)">Add to playlist</div>
              <div class="btn-yt" ng-click="addOnTop(item)">Play next</div>
            </div>
            <div class="playnow" ng-click="playVideo(item)"> <i class="fa fa-play-circle"></i><span class="text">&nbsp;Play now</span> </div>
          </div>
        </div>
        <h4>Play Queue</h4>
        <!--queue-->
        <div class="group-list">
          <div class="list-group-item flex-column" ng-repeat="item in nowPlaying">
            <div ng-click="selectFromPlaylist(item, $index)" class="flex-row clickable padding" ng-mouseenter="item.hover = true" ng-mouseleave="item.hover = false">
              <div>
                <img ng-src="{{item.snippet.thumbnails.default.url}}" alt=""/>
              </div>
              <div class="flex padding">
                {{item.snippet.title}}
              </div>
            </div>
            <div class="flex-row spaced padding list-group-item-info">
              <div class="btn-yt" ng-click="selectFromPlaylist(item, $index)" ng-class="item.hover ? 'btn-yt-hover' : ''">Play</div>
              <div class="btn-yt" ng-click="removeFromList($index)">Remove</div>
            </div>
            <div class="playnow" ng-click="playVideo(item)"> <i class="fa fa-play-circle"></i><span class="text">&nbsp;Play now</span> </div>
          </div>
          <div class="well">
            <h4>Tips:</h4>
            <p>When the current song ends, next from <b>Play Queue</b> will be played .</p>
            <p>For empty queue, next from <b>Playlist songs</b> will be played.</p>
            <p>For empty playlist, first song from <b>Suggested songs</b> will be played.</p>
              <p><b>Listen to music non-stop</b></p>
          </div>

        </div>

      </div>
    </div>
    <!--<form>-->
      <!--<input type="text" ng-model="teststr"/>-->
      <!--<button ng-click="test(teststr)"></button>-->
    <!--</form>-->




    <!--<div id="player"></div>-->
    <!--<a href="https://accounts.google.com/o/oauth2/auth?client_id=504931551977-1e64ktma401nr22svg27ug8ggt5qtfk2.apps.googleusercontent.com&redirect_uri=http://localhost:3000&scope=https://www.googleapis.com/auth/youtube&response_type=token" target="_blank">Authenticate</a>-->
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/bower_components/underscore/underscore-min.js"></script>
  <script>
    var onYouTubeIframeAPIReady
//    onYouTubeIframeAPIReady()
    var promise = new Promise(function (resolve, reject) {

//      var player
      onYouTubeIframeAPIReady = function() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'y6Sxv-sUYtM'
        });
        console.log(player, "player");
        resolve(player)
      }
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    });
  </script>
  <!--<script src="https://www.youtube.com/iframe_api"></script>-->
</html>
