<!DOCTYPE html>
<html>
<head>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-socket-io/socket.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!--<script src="/bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>-->
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css"/>
    <script src="/css/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        var env = '<%= env  %>';
        var BASE_URL = 'http://localhost:3000';
        if(env == "staging") BASE_URL = "https://youtube-music.herokuapp.com";
        if(env == "production") BASE_URL = "http://www.youtube-music.in";
    </script>
    <script src="/javascripts/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body ng-app="youtubeShare" ng-controller="shareCtrl">

<div class="hidden" id="playlistserver">
    <%= playlist %>
</div>
<div class="hidden" id="envserver">
    <%= env %>
</div>
<div class="flex-column">
    <div class="flex-row margin padding">
        <form ng-submit="search(query)" class="col-md-6 col-xs-12 auto">
            <!--<div class="input-group">-->
            <!--<input type="text" class="form-control"/>-->
            <!--</div>-->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Songs" ng-model="query" required ng-keydown="keypress($event)">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
            </div>
            <div class="suggestions" ng-show="query.length > 0">
                <div class="list" ng-class="suggestedIndex == $index ? 'active' : ''" ng-repeat="item in suggesteds" ng-click=" selectSuggested($index)"><span class="padding">{{item[0]}}</span></div>
            </div>
        </form>
    </div>

    <div class="list-group col-xs-12 col-sm-10 col-md-5 auto" ng-show="showSearched">
        <div class="list-group-item flex-column" ng-repeat="item in searchList">
            <div class="flex-row clickable padding" ng-click="addToPlaylist(item)" ng-mouseenter="item.hover = true" ng-mouseleave="item.hover = false">
                <div style="position: relative;">
                    <img ng-src="{{item.snippet.thumbnails.default.url}}" alt=""/>
                </div>
                <div class="padding">
                    {{item.snippet.title}}
                </div>
            </div>
            <div class="flex-row spaced padding list-group-item-info">
                <div class="clickable flex btn-yt text-center" ng-click="addToPlaylist(item)" ng-class="item.hover ? 'btn-yt-hover' : ''">Add to playlist</div>
                <!--<div class="clickable flex btn-yt text-center" ng-click="addAndPlayNext(item)">Play next</div>-->
            </div>

        </div>
    </div>
    <div class="well col-xs-12 col-sm-10 col-md-5 auto">
        <h3>Up Next in playlist  - <b>{{playlist.name}}</b></h3>
        <div>{{playlist.videos[playlist.current_index + 1].snippet.title}}</div>
    </div>

    <div class="list-group  col-xs-12 col-sm-10 col-md-5 auto">
        <div class="list-group-item flex-column" ng-mouseenter="item.hover = true" ng-mouseleave="item.hover = false" ng-class="$index == playlist.current_index ? 'active' : ''" ng-click="playNext($index)" ng-repeat="item in playlist.videos">
            <div class="text-main padding flex-row">
                <div class="col-md-4">
                    <img ng-src="{{item.snippet.thumbnails.default.url}}" alt=""/>
                </div>
                <div class="col-md-8 padding">
                    {{item.snippet.title}}
                </div>
            </div>
            <div class="flex-row spaced padding list-group-item-info">
                <div class="clickable flex btn-yt text-center" ng-class="item.hover ? 'btn-yt-hover' : ''">Add next in queue</div>
            </div>
        </div>
    </div>
</div>

<!--<form>-->
<!--<input type="text" ng-model="teststr"/>-->
<!--<button ng-click="test(teststr)"></button>-->
<!--</form>-->




<!--<div id="player"></div>-->
<!--<a href="https://accounts.google.com/o/oauth2/auth?client_id=504931551977-1e64ktma401nr22svg27ug8ggt5qtfk2.apps.googleusercontent.com&redirect_uri=http://localhost:3000&scope=https://www.googleapis.com/auth/youtube&response_type=token" target="_blank">Authenticate</a>-->
</body>

</html>
