<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="javascripts/ui-bootstrap.min.js"></script>
  <script src="javascripts/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/ui.bootstrap/src/dateparser/dateparser.js"></script>
  <script src="bower_components/ui.bootstrap/src/position/position.js"></script>
</head>
<body ng-app="test">
<div ng-controller="testCtrl">
 {{date}}

  <input type="date" class="form-control" uib-datepicker-popup ng-model="date" ng-click="status.opened = true" is-open="status.opened" min-date="min_date" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
</div>
<button ng-click="update()">Update</button>
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->


<script>

  angular.module("test", ['ui.bootstrap'])
      .controller("testCtrl", function($scope) {
        $scope.update = function() {
          var val = $scope.date
          console.log(val);
        }
      })

</script>
</body>
</html>

var root;