<nav class="navbar navbar-default navbar-static-top" id="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="dashboard.customer">
                <img id="logo" src="images/logo2.png" alt=""/>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <!--<li><a ui-sref-active="active" ui-sref="dashboard.customer"><i class="fa fa-dashboard"></i>  Dashboard</a></li>-->
                <!--<li><a ui-sref-active="active" ui-sref="live-tracking"><i class="fa fa-circle"></i>  Live Tracking</a></li>-->
                <!--<li class="dropdown">-->
                <!--<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">gaurav@hypertrack.io <span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li data-toggle="modal" data-target="#change-password"><a>Change Password</a></li>-->
                <!--<li ng-click="logout()"><a>Logout</a></li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div id="change-password" class="modal fade" role="dialog" ng-controller="loginCtrl">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <form class="modal-body form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-5" for="old-pwd">Old Passwprd:</label>
                    <div class="col-md-7">
                        <input type="password" class="form-control" id="old-pwd" ng-model="password.old">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" for="new-pwd">New Password:</label>
                    <div class="col-md-7">
                        <input type="password" class="form-control" id="new-pwd" ng-model="password.new">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" for="re-new-pwd">Confirm NewPassword:</label>
                    <div class="col-md-7" ng-class="(password.re_new && password.re_new != password.new) ? 'has-error' : ''">
                        <input type="password" class="form-control" id="re-new-pwd" ng-class="(password.re_new || password.re_new == password.new) ? '' : 'has-error'" ng-model="password.re_new">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 submit-form">
                        <button class="btn btn-default" ng-class="loading ? 'disabled' : ''"  type="submit" ng-click="submit()"><i ng-show="loading" class="fa fa-spinner fa-pulse"></i> Update Password</button>
                    </div>

                </div>
                <div style="height: 4px;">
                    <p>{{msg}}</p>
                </div>
            </form>
        </div>

    </div>
</div>